*,
::after,
::before {
    box-sizing: border-box;
}

html {
    -webkit-tap-highlight-color: transparent;
    overflow-y: scroll;
}

a,
button,
body,
h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--black)
}

/* h1 and h2 are for some reason the same size, h1 is 1.5em*/
/* rem is global (root element), em is realtive to parent*/
h2 {
    font-size: 1.2em;
}

p {
    padding: 1em 0;
}

body {
    font-family: BlinkMacSystemFont,-apple-system,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Fira Sans","Droid Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 18px;
    line-height: 1.4;
    word-break: break-word;
    background: var(--white)
}

article,
aside,
footer,
header,
hgroup,
main,
nav,
section,
table {
    display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-top: 0;
    margin-bottom: 0;
}

ul {
    padding: 0;
}

a {
    text-decoration: none;
}

body,
ul {
    margin: 0;
}

img {
    display: block;
    max-width: 100%;
}

svg {
    color: var(--black);
}

hr {
    background-color: var(--secondary-medium);
    border: none;
    display: block;
    height: 2px;
    margin: 1.5rem 0;
}
