.footer {
    display: flex;
    justify-content: center;
    align-items: center;

    font-size: .85rem;
    background-color: var(--secondary-medium);
    height: var(--footer-height);
}

.footer a {
    border-bottom: 1px solid var(--secondary-dark);
}
