.index-hero {
    background-color: var(--primary);
    color: var(--white);
    width: 100%;
}

.hero-title {
    width: var(--main-width);
    margin: auto;
    padding-top: 30px;
}

.section-content {
    padding-top: 30px;
    width: var(--main-width);
    margin: auto;
}

.index-container {
    display: flex;
    width: var(--main-width);
    margin: auto;
    padding-bottom: 30px;
    justify-content: space-between;
    gap: 65px;
}

.index-container a {
    color: var(--primary);
}

.index-container a:hover {
   text-underline: var(--black);
    text-decoration-line: underline;
}

.index-container ul {
    padding-left: 1.5em;
}

.image {
    border-radius: 6px;
    object-fit: cover;
    flex-shrink: 0; /* firefox needs this for some reason */
}

.chart {
    width: 100%;
}