/* styling for step shortcode */
/* there is marign collapse but it looks good so not worrying */
.step {
    display: flex;
    gap: 15px;
    margin: 25px 0;
    align-items: flex-start;
    justify-content: space-between;
}

.step a {
    color: var(--primary);
}

.step img {
    width: 50%;
    object-fit: contain;
    border-radius: 5px;
    flex-shrink: 0; /* firefox needs this for some reason */
}

@media screen and (max-width: 800px) {
    .step {
        flex-direction: column;
        gap: 5px;
    }
    .step img {
        width: 100%;
    }
}
